/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css?family=Roboto:regular,700display=swap");
/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  --text-color: hsl(0, 0%, 0%);
  --white-color: hsl(0, 0%, 100%);
  --header-color: #fff;
  --body-color: hsl(48, 14%, 93%);
  --black-color: hsl(0, 0%, 0%);

  /*========== Font and typography ==========*/
  --body-font: "Roboto", sans-serif;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body,
button,
input {
  font-family: var(--body-font);
}
body {
  background-color: var(--body-color);
  color: var(--text-color);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}

/* ===============-REUSABLE CSSS CLASSES-=========================== */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.section {
  padding: 4.5rem 0rem 2rem;
}
.list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 2rem;
}
.grid {
    display: grid;
    gap: 1.5rem;
}
/* ===========================HEADER=========================  */
.header {
  background-color: var(--header-color);
  padding: 1rem 0;
}

.nav__menu-item {
  cursor: pointer;
}