/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css?family=Roboto:regular,700display=swap");
/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  --text-color: hsl(0, 0%, 0%);
  --white-color: hsl(0, 0%, 100%);
  --header-color: #fff;
  --sidebar-color: #fcfcfc;
  --body-color: hsl(48, 14%, 93%);
  --black-color: hsl(0, 0%, 0%);

  /*========== Font and typography ==========*/
  --body-font: "Roboto", sans-serif;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body,
button,
input {
  font-family: var(--body-font);
}
body {
  background-color: var(--body-color);
  color: var(--text-color);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}

/* ===============-REUSABLE CSSS CLASSES-=========================== */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.section {
  padding: 4.5rem 0rem 2rem;
}
.list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 2rem;
}
.grid {
  display: grid;
  gap: 1.5rem;
}
/* ===========================HEADER=========================  */
.header {
  background-color: var(--header-color);
  padding: 1rem 0;
}

.nav__menu-item {
  cursor: pointer;
}

/* ===========================HOME=========================  */
.home__products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.95rem;
}

/* ===========================PRODUCTS=========================  */
.product__cart {
  /* border: 1px solid var(--black-color); */
  padding: 1rem;
}
.product__cart-content {
  position: relative;
  display: flex;
  flex-direction: column;
}
.content__img {
  padding-bottom: 1rem;

}
.content__img img {
  width: 225px;
  height: 225px;
  border: 1px solid var(--black-color);
}
.content__btn {
  position: absolute;
  top: 26%;
  opacity: 0;
  left: 35%;
  display: flex;
    background: var(--white-color);
    border: none;
    font-size: 2rem;
    padding: 0.5rem;
    align-items: center;
    justify-content: center;
    transition: all .4s;
    cursor: pointer;

}
.content__btn:hover {
  opacity: 1;
  transform: scale(1);
}
.content__text-name {
  font-size: 1.25rem;
  padding-bottom: 0.5rem;
}

.content__text-price {
  font-weight: 600;
  font-size: 1.7rem;
}

/* ===========================SIDEBAR=========================  */
.sidebar {
  background-color: var(--sidebar-color);
  padding: 0 35px;
    width: 35vw;
    position: fixed;
    top: -100%;
    right: 0;
    height: 100vh;
}
.isOpen {
  top: 0;
}
.sidebar__header {
  display: flex;
  padding-top: 1rem;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2rem;
  text-transform: uppercase;
  font-size: 0.95rem;
  font-weight: 600;
}